body {
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: white; 
    width: 100%;
    height: 100%;
}
body::before {
    content: '';
    background-image: url('background-image.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Nav Section */
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
nav .links {
    width: 40%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent;
}
nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px;
}
nav .search-box {
    display: flex;
    width: 45%;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
nav input {
    flex: 3;
    padding: 5px; 
    margin-right: 10px; 
    border-radius: 5px; 
    border: none; 
}
nav input:focus {
    border: rgba(128, 128, 128, 0.233);
}
nav button {
    flex: 1;
    background-color: rgba(8, 61, 59, 0.671); 
    font-size: 16px;
    color: white; 
    border: none; 
    padding: 5px; 
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
nav button:hover {
    background-color: rgba(8, 61, 59, 0.8); ;
}

/* Home-Text Section */
.home {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
}
.home .home-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left; 
    border: none;
    margin: 20px auto;
    padding: 20px;
}
.home-text h1 {
    font-size: 60px; 
    margin-bottom: 20px; 
    padding: 10px;
}
.home-text p {
    font-size: 20px; 
    line-height: 1.5; 
    padding: 10px;
    margin-bottom: 20px;
}
.home-text button {
    width: 30%;
    background-color: rgb(8, 61, 59);
    margin-top: 20px;
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    color: white; 
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer; 
}
.home-text button:hover {
    background-color: rgb(7, 49, 48);
}

/* Search-Result Section*/
#search-results {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 20px auto;
}
.hidden {
    display: none;
}
#search-results div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
#search-results img {
    width: 95%;
    height: 65%;
    object-fit: cover;
    object-position: center;
    margin: 10px auto;
    border-radius: 10px;
}
#search-results h3 {
    font-size: 22px;
    color:rgba(0, 0, 0, 0.7);
    margin: 10px;
}
#search-results p {
    color: rgba(0, 0, 0, 0.7);
    margin: 10px;
}
#search-results button {
    background-color: rgba(8, 61, 59, 0.671);
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: none; 
    border-radius: 5px; 
    color: white; 
    text-align: center;
    font-size: 16px; 
    cursor: pointer; 
}
