body {
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
body::before {
    background-image: url('../background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Nav Section */
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
nav .links {
    width: 40%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent;
}
nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px;
}
nav .search-box {
    display: flex;
    width: 45%;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
nav input {
    flex: 3;
    padding: 5px; 
    margin-right: 10px; 
    border-radius: 5px; 
    border: none; 
}
nav input:focus {
    border: rgba(128, 128, 128, 0.233);
}
nav button {
    flex: 1;
    background-color: rgba(8, 61, 59, 0.671); 
    color: white; 
    border: none; 
    padding: 5px; 
    margin: 5px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
nav button:hover {
    background-color: rgba(8, 61, 59, 0.8); ;
}

/* Home-Text Section */
.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px; 
    padding: 20px; 
}
.home .home-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left; 
    background-color: transparent;
    border: none;
}
.home-text h1 {
    font-size: 42px; 
    margin-bottom: 20px; 
    padding: 10px;
}
.home-text p {
    font-size: 18px; 
    line-height: 1.5; 
    padding: 10px;
}
.home-text button {
    width: 40%;
    background-color: rgba(8, 61, 59, 0.671);
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    color: white; 
    text-align: center;
    font-size: 16px; 
    cursor: pointer; 
}
.home-text button:hover {
    background-color: rgba(8, 61, 59, 0.8);
}

/* Search-Result Section*/
.home .search-result {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.search-result .card {
    margin: 5px;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.search-result .card-img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: center;
}
.search-result card-title {
    font-size: 22px;
    color:rgba(0, 0, 0, 0.7);
    margin-left: 5px;
    margin-bottom: 5px;
}
.search-result card-text {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 5px;
    margin-bottom: 5px;
}
.search-result button {
    background-color: rgba(8, 61, 59, 0.671);
    padding: 5px;
    border: none; 
    border-radius: 5px; 
    color: white; 
    text-align: center;
    font-size: 16px; 
    cursor: pointer; 
}