body {
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
body::before {
    background-image: url('../background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Nav Section */
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
nav .links {
    width: 40%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent;
}
nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px;
}

/* About Us Section */
.aboutus {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px; 
    padding: 0; 
}
.aboutus .company{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left; 
    background-color: transparent;
    border: none;
}
.company h1 {
    font-size: 42px; 
    margin-bottom: 10px; 
    padding: 5px;
}
.company .intro-text {
    background-color: rgba(0, 0, 0, 0.2);
}
.company p {
    font-size: 18px; 
    line-height: 1.5; 
    padding: 0px;
}

/* Team Members Section */
.team {
    width: 70%;
    display: flex;
}
.team h2 {
    font-size: 38px;
    color: rgb(255, 255, 255);
}
.team-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}
.team-card {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
    padding: 20px; 
    width: 250px; 
    text-align: center; 
    color: rgb(255, 255, 255);
}
.team-card h3 {
    margin: 10px 0; 
}
.team-card p {
    margin: 5px 0; 
}