body {
    margin: 0; 
    font-family: Arial, sans-serif; 
    color: white; 
    width: 100%;
    height: 100%;
}
body::before {
    content: '';
    background-image: url('../background-image.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


/* Nav Section */
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 25px 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
nav .links {
    width: 40%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: transparent;
}
nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 15px;
}

/* About Us Section */
.about-us {
    width: auto;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.about-us .company{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left; 
    background-color: transparent;
    border: none;
}
.company h1 {
    font-size: 42px; 
    margin-bottom: 10px; 
    padding: 5px;
}

.company p {
    font-size: 18px; 
    line-height: 2; 
    padding: 0px;
}

/* Team Members Section */
.team {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 30px;
}
.team h2 {
    flex: 1;
    font-size: 38px;
    color: rgb(255, 255, 255);
}
.team .team-container {
    flex: 4;
    display: flex; 
    justify-content: flex-end; 
    gap: 20px; 
    margin-left: 50px;
}
.team-container .team-card {
    border-radius: 8px; 
    padding: 20px; 
    width: 35%; 
    text-align: center; 
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}
.team-card h3 {
    margin: 10px auto; 
}
.team-card p {
    margin: 10px auto; 
}
.team-card button {
    background-color: rgba(8, 61, 59, 0.7);
    padding: 8px;
    margin-top: 10px;
    border: none; 
    border-radius: 5px; 
    color: white; 
    text-align: center;
    font-size: 16px; 
    cursor: pointer; 
}
